@import "./reset";

$container-padding: 2rem;

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  header {}
  main {
    flex-grow: 1;
    padding-top: $container-padding;
    padding-bottom: $container-padding;
  }
}

.container{
  margin: 0 auto;
  max-width: 80.0rem;
  padding-left: $container-padding;
  padding-right: $container-padding;
  position: relative;
  width: 100%
}

$header-title-size: 2.5rem;
$header-title-line-height: 4.5rem;
header {
  > div {
    position: relative;

    h1 {
      text-align: center;
      margin-bottom: 0;
      font-size: $header-title-size;
      line-height: $header-title-line-height;
    }

    .back-button,
    .shortcode {
      position: absolute;
      top: 0;
      height: $header-title-line-height;
      line-height: $header-title-line-height;
    }
    .back-button {
      left: $container-padding;
    }

    .shortcode {
      right: $container-padding;
    }
  }
}

.page--index {
  text-align: center;

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 1rem;
  }


  button {
    margin-bottom: 0;
  }

  .or {
    margin-top: $container-padding;
    margin-bottom: $container-padding;
  }
}

.new-game-form {
  form {
    margin-bottom: 0;
  }

  .new-game-form--layout {
    display: flex;
    justify-content: center;

    h2 {
      margin-bottom: 0;
    }

    input[type="text"] {
      margin-right: 1rem;
      margin-bottom: 0;
      width: auto;
    }
    button {
      margin-bottom: 0;
    }
  }
}

.scores-round {
  display: flex;

  > * {
    flex-grow: 1;
  }

  h5 {
    margin: 0;
  }
  span {
    font-weight: bold;
  }
}

.current-round {
  text-align: center;
}

.next-up {
  margin-top: 5rem;
  text-align: center;

  h4 {
    margin-bottom: 3rem;
  }
}

ul.scores {
  list-style: none;
  margin: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;

    & + li {}

    &.current {
      position: relative;
      &:before {
        $size: 5px;
        content: '';
        position: absolute;
        top: 2 + $size;
        left: -2 * $size;
        width: 0;
        height: 0;
        border-top: $size solid transparent;
        border-left: $size solid #000;
        border-bottom: $size solid transparent;
        border-right: 0px;
      }
    }
  }
}
