.scores-round {
  > * {
    padding-bottom: 1rem;
  }
  > * + * {
    padding-bottom: 0;
    padding-top: 1rem;
    border-top: 1px solid #FFFFFF;
  }
}

.current-round {
  text-align: center;
  h5 {
    margin: 0;
  }
  span {
    font-weight: bold;
  }
}

.next-up {
  margin-top: 5rem;
  text-align: center;

  h2 {
    margin-bottom: 4rem;
  }
}

ul.scores {
  list-style: none;
  margin: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 1em;
    .team-name {
      flex-grow: 1;
    }
    .score {}
    & + li {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px dashed #FFF;
    }

    &.highlight {
      position: relative;
      font-weight: bold;
      &:before {
        $size: 0.5rem;
        content: '';
        margin-top: 0.125rem;
        margin-left: -2 * $size;
        margin-right: $size;
        width: 0;
        height: 0;
        border-top: $size solid transparent;
        border-left: $size solid #000;
        border-bottom: $size solid transparent;
        border-right: 0px;
      }
    }
  }
}


.paper {
  font-size: 3rem;
  line-height: 1.1em;
  text-align: center;
  width: auto;
  min-width: 30%;
  margin: 0 auto;

  filter: drop-shadow(0px 2px 5px #666);

  .paper-inner {
    clip-path: polygon(0.5% 2%, 99% 0%, 100% 99%, 0% 99%);
    background: #FFFFFF;

    &[data-version="v2"] {
      clip-path: polygon(0% 0%, 100% 2%, 99% 99%, 0.5% 100%);
    }
  }

  .paper-text {
    display: block;
    padding: 1rem 2rem;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.countdown {
  &.warning {
    color: red;
    animation: blinker 0.75s step-start infinite;
  }
}