
html {
  height: 100%;
  background: #93a5c6;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  header {}
  main {
  	z-index: 10;
    flex-grow: 1;
    padding-top: $container-padding;
    padding-bottom: $container-padding;
    display: flex;
    flex-direction: column;
  }
}

header {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
  > div {
    position: relative;

    h1 {
      text-align: center;
      margin-bottom: 0;
      font-size: $header-title-size;
      line-height: $header-title-line-height;
    }

    .back-button,
    .shortcode {
      position: absolute;
      top: 0;
      height: $header-title-line-height;
      line-height: $header-title-line-height;
    }
    .back-button {
      left: $container-padding;
    }

    .shortcode {
      right: $container-padding;
    }
  }
}

#game {
  flex-grow: 1;
  display: flex;
}

.bowl-img {
	position: absolute;
	bottom: 0;
	width: 100%;
}

input[type='text'] {
	background-color: #FFFFFF;
}